body {
    background-color: bisque;
}

#div1 {
    background-color: black;
}

.texto {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.nav-pills {
    background-color: black;
    margin-top: 5%;
}

#div2 {
    background-image: url("https://st2.depositphotos.com/4018531/6795/i/600/depositphotos_67951755-stock-photo-black-and-white-marble-patterned.jpg");
    margin-top: 5%;
    height: 70px;
    text-align: center;
    padding-top: 2%;
}

.texto2 {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.texto3 {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bolder;
    font-size: 23px;
    
}

.float-start {
    width: 50%;
    display: block;
}

.text-end {
    font-weight: bolder;
    text-align: left;
    justify-content: left;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 32px;
}

#div3 {
    margin-top: 5%;
}

#div4 {
    margin-top: 10%;
}

#div5 {
    margin-top: 5%;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.nav-item {
    margin-left: 8%;
}

@media screen and (min-width: 768px) {
    .texto {
        font-size: 50px;
    }

    .nav-item {
        margin-left: 12%;
        font-size: 25px;
    }

    .texto2 {
        font-size: 50px;
    }

    #div2 {
        height: 100px;
    }

    .text-end {
        font-size: 60px;
    }

    .texto3 {
        font-size: 40px;
    }

@media screen and (min-width: 1024px) {
    .texto {
        font-size: 80px;
    }

    .nav-item {
        margin-left: 14%;
        font-size: 35px;
    }

    .texto2 {
        font-size: 70px;
    }

    #div2 {
        height: 150px;
    }

    .text-end {
        font-size: 80px;
    }

    .texto3 {
        font-size: 50px;
    }

    .float-start {
        width: 50%;
    }
}
}